{:deps true
 :source-paths ["src"]

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules    {:main {:entries [slate.app]
                       :depends-on #{}}}
   :release    {:compiler-options {:optimizations :advanced
                                   :closure-defines {re-frame.core/debug false}
                                   :source-map     "resources/public/js/main.js.map"}}
   :js-options {:package-format :umd}}}

 :nrepl {:port 7002}}
