{:deps true

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules    {:main {:entries [slate.app]
                       :depends-on #{}}}
   :devtools   {:preloads [re-frame-10x.preload
                           day8.re-frame.tracer.preload
                           devtools.preload]}
   :dev        {:compiler-options {:closure-defines {re-frame.core/debug false}}}
   :release    {:compiler-options {:optimizations :advanced
                                   :closure-defines {re-frame.core/debug false}
                                   :source-map     "resources/public/js/main.js.map"}}
   :js-options {:package-format :umd}}

  :tests
  {:target     :browser
   :output-dir "resources/public/js-test"
   :asset-path "/js-test"
   :modules    {:test {:entries [slate.test.runner]}}
   :devtools   {:preloads []}}}

 :nrepl {:port 7002}}
